<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the data</title>
</head>
<body>
    <h3>You are about to edit this user: <%= user.email %></h3>
    <form method="POST" action="/user/<%=user.id%>?_method=PATCH" >
        <input type="text" name="username" id="" value="<%= user.username %>">
        <input type="password" name="password" id="" placeholder="Enter Password"> 
        <button>Edit</button>
    </form>
</body>
</html>